.blog-preview-container {
  max-width: 32.7rem;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 24px;
  border: 1px solid #111111;
  box-shadow: 8px 8px 0 rgb(0, 0, 0);

  display: grid;
  grid-gap: 24px;

  box-sizing: content-box;

  line-height: 1.5;
  letter-spacing: 0;
  color: #111111;
}

.blog-preview__img {
  width: 100%;
  max-height: 200px;
  border-radius: 10px;
}

.blog-preview-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.blog-preview__tag {
  font-size: 1.4rem;
  font-weight: 700;

  background-color: #f4d04e;
  padding: 4px 12px;
  border-radius: 4px;

  display: inline-block;
  align-self: start;
}

.blog-preview__date {
  font-size: 1.4rem;
  font-weight: 400;
}

.blog-preview__title {
  font-size: 2.4rem;
  font-weight: 800;
}

.blog-preview__text {
  font-size: 1.6rem;
  font-weight: 400;
  color: #6b6b6b;
}

.author-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.author__img {
  width: 32px;
  height: auto;
}

.author__name {
  font-size: 1.4rem;
  font-weight: 800;
}
